<!DOCTYPE html>
<html>
<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/sidenav.css')}}">-->

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/sidenav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/css1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/css1.css')}}">
    <script src="{{url_for('static',filename='styles/javascript1.js')}}" type="text/javascript"></script>

    <title>2Ts Reader/Writer</title>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand"><span><h1> 2Ts Reader/Writer </h1></span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <br><br><br><br>
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>

  <div class="py-5"></div>
  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1><strong>Tracking Things Project</strong></h1>
          <p class="lead">This project will help you controlling patrimony. Developed by IFG students - Campus Inhumas.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 p-3">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/enan.jpg">
          <p class="my-4"><i>Information System's student of IFG - Campus Inhumas </i></p>
          <p><b>Enan Iansen Lara</b>
            <br>Mobile developer</p>
        </div>
        <div class="col-md-3 p-3">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/markley.jpg">
          <p class="my-4"><i>Information System's student of IFG - Campus Inhumas</i></p>
          <p><b>Markley da Silva Mendes</b>
            <br>Mobile developer</p>
        </div>
        <div class="col-md-3 p-3">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/thytuz.png">
          <p class="my-4"><i>Information System's student of IFG - Campus Inhumas</i></p>
          <p><b>Matheus Henrique de Souza</b>
            <br>Server developer</p>
        </div>
        <div class="col-md-3 p-3">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/Brendo.png">
          <p class="my-4"><i>Information System's student of IFG - Campus Inhumas</i></p>
          <p><b>Brendo Carlos Medeiros</b>
            <br>Server developer</p>
        </div>
      </div>
        <br>
      <div class="row">
         <div class="col-md-3 p-3">
              <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/erik.png">
              <p class="my-4"><i>Information System's student of IFG - Campus Inhumas</i></p>
              <p><b>Érik Vinícius Lima</b>
                <br>Reader/Writer developer</p>
         </div>
         <div class="col-md-3 p-3">
              <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/julio.jpg">
              <p class="my-4"><i>Information System's student of IFG - Campus Inhumas</i></p>
              <p><b>Julio Cesar Alcântara Lopes</b>
                <br>Reader/Writer developer</p>
         </div>
         <div class="col-md-3 p-3">
              <img class="img-fluid d-block rounded-circle mx-auto" src="/static/Photos/leandro.png">
              <p class="my-4"><i>IFG Professor - Inhumas Campus and Doctor of Internet of Things</i></p>
              <p><b>Leandro Alexandre Freitas</b>
                <br>Teacher and project supervisor</p>
         </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<br><br>
<div class="row">
    <a href="/inicial" class="btn btn-lg btn-danger col-md-2 col-md-offset-5 text-center glyphicon glyphicon-arrow-left" role="button"> Come Back</a>
</div>

</body>

</html>

</body>
</html>
