<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/sidenav.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/sidenav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/css1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/css1.css')}}">
    <script src="{{url_for('static',filename='styles/javascript1.js')}}" type="text/javascript"></script>

    <title>2Ts Reader/Writer</title>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand"><span><h1> 2Ts Reader/Writer </h1></span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <br><a href="/about"><h4>About</h4></a>
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>

<div class="container-left">
	<div class="row">
        <div class="col">
            <div class="col-md-3">
                <div class="list-group">
                  <a href="" class="list-group-item active main-color-bg">
                    <span aria-disabled="true" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard
                  </a>
                    <form method="POST" action="reader">
                      <button type="submit" class="list-group-item"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Reader <span class="badge"></span> </button>
                    </form>
                    <form method="POST" action="writer">
                      <button type="submit" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Writer <span class="badge"></span> </button>
                    </form>
                    <form method="POST" action="things">
                      <button type="submit" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List Things <span class="badge"></span> </button>
                    </form>
                    <form method="POST" action="synchronize">
                        <button type="submit" class="list-group-item"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Synchronize<span class="badge"></span> </button>
                    </form>
                    <form method="POST" action="quit">
                      <button type="submit" class="list-group-item"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout<span class="badge"></span> </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <center><h2>Welcome <strong>{{message}}</strong></h2><p>This prototype will help you in controlling patrimony.</p></center>
        </div>
        </div>
    </div>
</div>

</body>
</html>
