<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/sidenav.css')}}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <script src="{{url_for('static',filename='styles/synchronize.js')}}" type="text/javascript"></script>


    <title>2Ts Reader/Writer</title>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand"><span><h1> 2Ts Reader/Writer </h1></span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <br><a href=""><h4>About</h4></a>
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>
<!-- Adicionar o form para sincronização -->

<div class="container" align="center">
        <div class="row text-center">
            <h1><b>Synchronize</b></h1>
        </div>
        <br>
            <!--{%if message is defined%}
            <div class=' alert alert-warning'><strong>Warning!</strong> {{message}}</div>
            {%endif%}

            {%if texto is defined%}
            <div class=' alert alert-info alert-dismissable fade in'><strong>Info!</strong> {{texto}}</div>
            {%endif%}
            -->
<form action="testCheck" method="post">
      <div class="col-md-12">
         <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped text-center">
               <thead>
                   <th><center><input type="checkbox" id="checkall" /></center></th>
                   <th><center>Code</center></th>
                   <th><center>Name</center></th>
                   <th><center>Location</center></th>
               </thead>

               <tbody>
               {%for thing in things%}
                    <tr>
                        <td><input type="checkbox" name="extensions" class="checkthis" value="{{thing['code']}}"/></td>
                        <td>{{thing['code']}}</td>
                        <td>{{thing['name']}}</td>
                        <td>{{thing['location']}}</td>

                    </tr>
               {%endfor%}

                </tbody>
            </table>
     </div>
      <br><br>
      <div class="container">
            <div class="row">
                <div class="col col-md-offset">
                    <a href="/inicial" class="btn-lg btn-danger col-md-2 text-center align-left glyphicon glyphicon-arrow-left" role="button"> Back</a>
                </div>
                <div class="col col-md-offset-8">
                    <button type="submit" class="btn btn-lg btn-success align-right glyphicon glyphicon-cloud-upload">Synchronize</button>
                </div>
            </div>
        </div>
  </div>
</form>
</div>

</body>
</html>